extends ./layout.jade


block contenido
	div(class='row')
		div(class='col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 text-center big-top-space')
			h1 Bienvenido a ComparteFotos
			a(href="/singin" class='right-space btn btn-primary') Iniciar Sesión
			a(href='/singup' class='btn btn-primary') Registro