extends ./layout.jade

block contenido
	div(class='col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 big-top-space')
		header
			h1 Nuevo usuario
		form(action="/singup", method="POST")
			div(class='row')
				div(class='col-xs-12 col-md-12')
					div(class="form-group")
						label(for="email") Email
						input(type="text" id="email" class="form-control" name="email")
			div(class='row')
				div(class='col-xs-12 col-md-6')
					div(class="form-group")
						label(for="password") Contraseña
						input(type="password", id="password" class="form-control" name="password")
				div(class='col-xs-12 col-md-6')
					div(class='form-group')
						label(for="password_confirmation") Confirma contraseña
						input(type='password' id='password_confirmation' name='password_confirmation' class='form-control')
			div(class='row')
				div(class='col-xs-12 col-md-12 col-lg-12')
					div(class='form-group')
						label(for='username') Nombre de usuario
						input(type='text' id='username' name='username' class='form-control')
			div(class='row')
				div(class='col-md-12 col-md-6 col-lg-6')
					input(type="submit", value="Validar datos" class="btn btn-primary")
				div(class='col-sm-12 col-md-6 col-lg-6 text-right')
					a(href='/singin') Ya tengo una cuenta